@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.mNavBtn {
    @apply h-7 md:hidden 
    cursor-pointer;
}

/* Wrapper to center tooltip */
.dNavWrapper {
    @apply hidden md:inline-flex !mx-1;
}

.dNavBtn {
    @apply h-10 w-10 flex items-center justify-center cursor-pointer
    bg-transparent ml-0 hover:bg-gray-100 rounded-full;
}

.dNavIcon {
    @apply relative group-hover:w-7 group-hover:h-7
    transition-all duration-75 ease-in-out;
}

.reactBtn {
    @apply cursor-pointer hover:text-gray-400 transition-all duration-150 ease-out;
}

.reactBtnIcon {
    @apply w-8 h-8
}

.mBottomNavIcon {
    @apply h-8 w-8
}

.profileTabLink {
    @apply flex items-center grow sm:grow-0 sm:mx-8 py-4 border-t-[2px] border-solid
    focus:outline-none tracking-[2px] justify-center font-[600] text-sm
}

.profileContentContainer {
    @apply grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4
    gap-3 px-4 mb-5
} 

.pageContent {
    @apply mt-5 md:mt-10 pb-20 md:pb-14
}

.wordSpace {
    word-spacing: 2px;
}

.editWrapper {
    @apply flex px-5 md:px-10 md:justify-center mb-8 flex-col md:flex-row
}

.editAside {
    @apply md:basis-2/5 mb-3 md:mb-0 md:mr-10 md:text-right font-bold
}

.editDiv {
    @apply md:basis-3/5
}

.editDiv input, .editDiv textarea {
    @apply border-gray-200 rounded-[4px]
}

.useScrollbar {
    @apply scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200
}

:root {
    @apply scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200 overflow-y-scroll
}

:root {
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    color: #333;
}