@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.mNavBtn {
    @apply h-7 md:hidden 
    cursor-pointer;
}

.dNavBtn {
    @apply hidden h-6 md:inline-flex 
    cursor-pointer hover:scale-125 
    transition-all duration-150 ease-out;
}

.reactBtn {
    @apply cursor-pointer hover:scale-125
    transition-all duration-150 ease-out;
}

body {
    font-family: 'outfit';
    font-weight: 300;
    font-size: 14px;
}

    

